* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: grey;
  animation: bg-color 3s ease-in-out 0.2s infinite alternate;
}

@keyframes bg-color {
  0% {
    background-color: brown;
  }
  100% {
    background-color: rgb(220, 1, 125);
  }
}
